# version: "3.8"
services:
  api-gateway:
    build: ../api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - recommendation-service
      - content-service
      - video-processing-service
    environment:
      - NODE_ENV=production
    networks:
      - backend-network

  auth-service:
    build:
      context: ../backend/auth-service
    ports:
      - "5001:5001"
    volumes:
      - ../backend/auth-service:/app # Corrected volume mount
    environment:
      - NODE_ENV=production

  video-processing-service:
    build:
      context: ../backend/video-processing-service
    ports:
      - "5003:5003"
    volumes:
      - ../backend/video-processing-service:/app # Corrected volume mount
    environment:
      - NODE_ENV=production

  content-service:
    build:
      context: ../backend/content-service
    ports:
      - "5002:5002"
    volumes:
      - ../backend/content-service:/app # Corrected volume mount
    environment:
      - NODE_ENV=production

  recommendation-service:
    build:
      context: ../backend/recommendation-service
      #dockerfile: ./recommendation.Dockerfile # POTENTIAL PROBLEM - See note below!
    ports:
      - "5004:5004"
    volumes:
      - ../backend/recommendation-service:/app # Corrected volume mount
    environment:
      - FLASK_ENV=production

  frontend:
    build: ../frontend
    ports:
      - "5173:80"
    depends_on:
      - api-gateway
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
